#unilife-page ion-item {
  --background: transparent;
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --padding-start: 0px;
  --inner-padding-start: 0px;
}

#unilife-page ion-thumbnail {
  --border-radius: 8px;
}

#unilife-page ion-text {
  color: white;
}

#unilife-page .vl {
  border-left: 1px solid var(--ion-color-primary);
  height: 100px;
}

#unilife-page ion-grid,
#unilife-page ion-col,
#unilife-page ion-row {
  padding: 0px;
  margin: 0px;
}

#unilife-page ion-content ion-text,
#unilife-page ion-content ion-label {
  color: white;
}
